.item {
	padding: 2rem;
}

.item:nth-child(1) {
	background-color: rgba(255, 238, 0, 0.322);
}

.item:nth-child(2) {
	background-color: rgba(0, 255, 115, 0.329);
}

.item:nth-child(3) {
	background-color: #4705fc50;
}

.number {
	font-size: 6rem;
	font-weight: 600;
}

.statsSubHeading {
	font-size: 2rem;
	margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
	.item {
		padding: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.number {
		font-size: 5rem;
	}
}
