NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUBSTITUTE_SUPABASE_ANON_KEY>
NEXT_FIREBASE_API_KEY=<SUBSTITUTE_FIREBASE_API_KEY>
NEXT_FIREBASE_AUTH_DOMAIN=<SUBSTITUTE_FIREBASE_AUTH_DOMAIN>
NEXT_FIREBASE_DATABASE_URL=<SUBSTITUTE_FIREBASE_DATABASE_URL>
NEXT_FIREBASE_PROJECT_ID=<SUBSTITUTE_FIREBASE_PROJECT_ID>
NEXT_FIREBASE_STORAGE_BUCKET=<SUBSTITUTE_FIREBASE_STORAGE_BUCKET>
NEXT_FIREBASE_MESSAGING_SENDER_ID=<SUBSTITUTE_FIREBASE_MESSAGING_SENDER_ID>
NEXT_FIREBASE_APP_ID=<SUBSTITUTE_FIREBASE_APP_ID>
NEXT_FIREBASE_MEASUREMENT_ID=<SUBSTITUTE_FIREBASE_MEASUREMENT_ID>
